In [3]:
import pandas as pd
import numpy as np

nasdaqFile = 'C:/Users/efran/Documents/Data/IXIC.csv'
spFile = 'C:/Users/efran/Documents/Data/GSPC.csv'
googFile = 'C:/Users/efran/Documents/Data/GOOG.csv'
oilFile = 'C:/Users/efran/Documents/Data/USO.csv'
xomFile = 'C:/Users/efran/Documents/Data/XOM.csv'

def readFile(filename):
    data=pd.read_csv(filename,sep=",",usecols=[0,5],names=['Date', 'Price'],header=0)
    returns=np.array(data["Price"][:-1],np.float)/np.array(data["Price"][1:],np.float)-1
    data["Returns"]=np.append(returns,np.nan)
    data.index=data["Date"]
    return data

from sklearn.linear_model import SGDRegressor,LinearRegression

In [6]:
googData=readFile(googFile)
nasdaqData=readFile(nasdaqFile)

In [7]:
googData

                  Date       Price   Returns
Date
2016-12-01  2016-12-01  771.820007  0.018178
2016-11-01  2016-11-01  758.039978 -0.033778
2016-10-01  2016-10-01  784.539978  0.009327
2016-09-01  2016-09-01  777.289978  0.013350
2016-08-01  2016-08-01  767.049988 -0.002263
2016-07-01  2016-07-01  768.789978  0.110808
2016-06-01  2016-06-01  692.099976 -0.059289
2016-05-01  2016-05-01  735.719971  0.061630
2016-04-01  2016-04-01  693.010010 -0.069723
2016-03-01  2016-03-01  744.950012  0.067615
2016-02-01  2016-02-01  697.770020 -0.060812
2016-01-01  2016-01-01  742.950012 -0.020991
2015-12-01  2015-12-01  758.880005  0.021923
2015-11-01  2015-11-01  742.599976  0.044724
2015-10-01  2015-10-01  710.809998  0.168288
2015-09-01  2015-09-01  608.419983 -0.045780
2015-08-01  2015-08-01  637.609985  0.019181
2015-07-01  2015-07-01  625.609985  0.201917
2015-06-01  2015-06-01  520.510010 -0.021800
2015-05-01  2015-05-01  532.109985 -0.009733
2015-04-01  2015-04-01  537.340027 -0.016760
2015-03-01  2015-03-01  546.499573 -0.018625
2015-02-01  2015-02-01  556.871094  0.044676
2015-01-01  2015-01-01  533.056519  0.015426
2014-12-01  2014-12-01  524.958740 -0.028478
2014-11-01  2014-11-01  540.346497 -0.030854
2014-10-01  2014-10-01  557.549255 -0.031661
2014-09-01  2014-09-01  575.779175  0.010077
2014-08-01  2014-08-01  570.034973  0.000000
2014-07-01  2014-07-01  570.034973 -0.006397
...                ...         ...       ...
2007-02-01  2007-02-01  223.885818 -0.103789
2007-01-01  2007-01-01  249.813644  0.089081
2006-12-01  2006-12-01  229.380234 -0.050185
2006-11-01  2006-11-01  241.499802  0.017675
2006-10-01  2006-10-01  237.305527  0.185345
2006-09-01  2006-09-01  200.199600  0.061739
2006-08-01  2006-08-01  188.558243 -0.020874
2006-07-01  2006-07-01  192.578171 -0.078053
2006-06-01  2006-06-01  208.882065  0.127777
2006-05-01  2006-05-01  185.215759 -0.110351
2006-04-01  2006-04-01  208.189651  0.071641
2006-03-01  2006-03-01  194.271820  0.075506
2006-02-01  2006-02-01  180.632950 -0.161882
2006-01-01  2006-01-01  215.522171  0.042906
2005-12-01  2005-12-01  206.655411  0.024573
2005-11-01  2005-11-01  201.698990  0.088058
2005-10-01  2005-10-01  185.375168  0.175946
2005-09-01  2005-09-01  157.639130  0.106503
2005-08-01  2005-08-01  142.466003 -0.006116
2005-07-01  2005-07-01  143.342712 -0.021724
2005-06-01  2005-06-01  146.525787  0.060879
2005-05-01  2005-05-01  138.117310  0.260318
2005-04-01  2005-04-01  109.589233  0.218769
2005-03-01  2005-03-01   89.917969 -0.039789
2005-02-01  2005-02-01   93.643997 -0.039004
2005-01-01  2005-01-01   97.444756  0.014679
2004-12-01  2004-12-01   96.035034  0.059402
2004-11-01  2004-11-01   90.650223 -0.045426
2004-10-01  2004-10-01   94.964050  0.470988
2004-09-01  2004-09-01   64.558022       NaN

[148 rows x 3 columns]

In [8]:
googData["Months"]=[int(x[5:7]) for x in googData["Date"]]

In [9]:
googData

                  Date       Price   Returns  Months
Date
2016-12-01  2016-12-01  771.820007  0.018178      12
2016-11-01  2016-11-01  758.039978 -0.033778      11
2016-10-01  2016-10-01  784.539978  0.009327      10
2016-09-01  2016-09-01  777.289978  0.013350       9
2016-08-01  2016-08-01  767.049988 -0.002263       8
2016-07-01  2016-07-01  768.789978  0.110808       7
2016-06-01  2016-06-01  692.099976 -0.059289       6
2016-05-01  2016-05-01  735.719971  0.061630       5
2016-04-01  2016-04-01  693.010010 -0.069723       4
2016-03-01  2016-03-01  744.950012  0.067615       3
2016-02-01  2016-02-01  697.770020 -0.060812       2
2016-01-01  2016-01-01  742.950012 -0.020991       1
2015-12-01  2015-12-01  758.880005  0.021923      12
2015-11-01  2015-11-01  742.599976  0.044724      11
2015-10-01  2015-10-01  710.809998  0.168288      10
2015-09-01  2015-09-01  608.419983 -0.045780       9
2015-08-01  2015-08-01  637.609985  0.019181       8
2015-07-01  2015-07-01  625.609985  0.201917       7
2015-06-01  2015-06-01  520.510010 -0.021800       6
2015-05-01  2015-05-01  532.109985 -0.009733       5
2015-04-01  2015-04-01  537.340027 -0.016760       4
2015-03-01  2015-03-01  546.499573 -0.018625       3
2015-02-01  2015-02-01  556.871094  0.044676       2
2015-01-01  2015-01-01  533.056519  0.015426       1
2014-12-01  2014-12-01  524.958740 -0.028478      12
2014-11-01  2014-11-01  540.346497 -0.030854      11
2014-10-01  2014-10-01  557.549255 -0.031661      10
2014-09-01  2014-09-01  575.779175  0.010077       9
2014-08-01  2014-08-01  570.034973  0.000000       8
2014-07-01  2014-07-01  570.034973 -0.006397       7
...                ...         ...       ...     ...
2007-02-01  2007-02-01  223.885818 -0.103789       2
2007-01-01  2007-01-01  249.813644  0.089081       1
2006-12-01  2006-12-01  229.380234 -0.050185      12
2006-11-01  2006-11-01  241.499802  0.017675      11
2006-10-01  2006-10-01  237.305527  0.185345      10
2006-09-01  2006-09-01  200.199600  0.061739       9
2006-08-01  2006-08-01  188.558243 -0.020874       8
2006-07-01  2006-07-01  192.578171 -0.078053       7
2006-06-01  2006-06-01  208.882065  0.127777       6
2006-05-01  2006-05-01  185.215759 -0.110351       5
2006-04-01  2006-04-01  208.189651  0.071641       4
2006-03-01  2006-03-01  194.271820  0.075506       3
2006-02-01  2006-02-01  180.632950 -0.161882       2
2006-01-01  2006-01-01  215.522171  0.042906       1
2005-12-01  2005-12-01  206.655411  0.024573      12
2005-11-01  2005-11-01  201.698990  0.088058      11
2005-10-01  2005-10-01  185.375168  0.175946      10
2005-09-01  2005-09-01  157.639130  0.106503       9
2005-08-01  2005-08-01  142.466003 -0.006116       8
2005-07-01  2005-07-01  143.342712 -0.021724       7
2005-06-01  2005-06-01  146.525787  0.060879       6
2005-05-01  2005-05-01  138.117310  0.260318       5
2005-04-01  2005-04-01  109.589233  0.218769       4
2005-03-01  2005-03-01   89.917969 -0.039789       3
2005-02-01  2005-02-01   93.643997 -0.039004       2
2005-01-01  2005-01-01   97.444756  0.014679       1
2004-12-01  2004-12-01   96.035034  0.059402      12
2004-11-01  2004-11-01   90.650223 -0.045426      11
2004-10-01  2004-10-01   94.964050  0.470988      10
2004-09-01  2004-09-01   64.558022       NaN       9

[148 rows x 4 columns]

In [10]:
import statsmodels.api as sm

c:\users\efran\appdata\local\programs\python\python36\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [14]:
dummy=sm.categorical(googData["Months"].values.reshape(1,-1),drop=True)

In [15]:
dummy

array([[ 0.,  0.,  0., ...,  0.,  0.,  1.],
       [ 0.,  0.,  0., ...,  0.,  1.,  0.],
       [ 0.,  0.,  0., ...,  1.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  1.,  0.],
       [ 0.,  0.,  0., ...,  1.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [16]:
nasdaqData["Returns"]

Date
2016-12-01    0.022695
2016-11-01    0.025927
2016-10-01   -0.023129
2016-09-01    0.018948
2016-08-01    0.009897
2016-07-01    0.065968
2016-06-01   -0.021297
2016-05-01    0.036163
2016-04-01   -0.019403
2016-03-01    0.068430
2016-02-01   -0.012137
2016-01-01   -0.078576
2015-12-01   -0.019821
2015-11-01    0.010867
2015-10-01    0.093847
2015-09-01   -0.040009
2015-08-01   -0.061535
2015-07-01    0.028356
2015-06-01   -0.016402
2015-05-01    0.026027
2015-04-01    0.008272
2015-03-01   -0.012622
2015-02-01    0.070825
2015-01-01   -0.021286
2014-12-01   -0.011599
2014-11-01    0.034744
2014-10-01    0.030567
2014-09-01   -0.018968
2014-08-01    0.048172
2014-07-01   -0.008713
                ...
2007-02-01   -0.019392
2007-01-01    0.020138
2006-12-01   -0.006777
2006-11-01    0.027490
2006-10-01    0.047945
2006-09-01    0.034198
2006-08-01    0.044122
2006-07-01   -0.037116
2006-06-01   -0.003116
2006-05-01   -0.061867
2006-04-01   -0.007360
2006-03-01    0.025598
2006-02-01   -0.010595
2006-01-01    0.045572
2005-12-01   -0.012316
2005-11-01    0.053068
2005-10-01   -0.014588
2005-09-01   -0.000186
2005-08-01   -0.014985
2005-07-01    0.062165
2005-06-01   -0.005444
2005-05-01    0.076273
2005-04-01   -0.038805
2005-03-01   -0.025583
2005-02-01   -0.005183
2005-01-01   -0.051957
2004-12-01    0.037500
2004-11-01    0.061681
2004-10-01    0.041200
2004-09-01         NaN
Name: Returns, Length: 148, dtype: float64

In [17]:
nasdaqData["Returns"].shape

(148,)

In [18]:
dummy.shape

(148, 12)

In [21]:
nasdaqData["Returns"].values.reshape(len(nasdaqData["Returns"]),-1)[:-1]

array([[ 0.02269479],
       [ 0.02592723],
       [-0.02312874],
       [ 0.01894794],
       [ 0.00989714],
       [ 0.06596773],
       [-0.02129726],
       [ 0.03616271],
       [-0.01940311],
       [ 0.06842986],
       [-0.01213711],
       [-0.07857554],
       [-0.01982116],
       [ 0.01086716],
       [ 0.09384736],
       [-0.0400086 ],
       [-0.06153522],
       [ 0.0283564 ],
       [-0.01640221],
       [ 0.0260269 ],
       [ 0.00827199],
       [-0.01262205],
       [ 0.07082471],
       [-0.02128558],
       [-0.01159941],
       [ 0.03474383],
       [ 0.03056714],
       [-0.01896829],
       [ 0.04817187],
       [-0.00871338],
       [ 0.03902307],
       [ 0.03112363],
       [-0.02010726],
       [-0.02533121],
       [ 0.0497676 ],
       [-0.01740893],
       [ 0.02874461],
       [ 0.03576283],
       [ 0.03930287],
       [ 0.05058954],
       [-0.01006516],
       [ 0.0655609 ],
       [-0.01523764],
       [ 0.03818801],
       [ 0.01875123],
       [ 0.03396317],
       [ 0.00574771],
       [ 0.0406092 ],
       [ 0.0030795 ],
       [ 0.01108749],
       [-0.04460518],
       [ 0.01606477],
       [ 0.043354  ],
       [ 0.00152296],
       [ 0.03809586],
       [-0.07189564],
       [-0.01462362],
       [ 0.04202386],
       [ 0.05439179],
       [ 0.08010679],
       [-0.00579703],
       [-0.02386738],
       [ 0.11137287],
       [-0.06360248],
       [-0.06418561],
       [-0.00617992],
       [-0.02178959],
       [-0.01330762],
       [ 0.03324978],
       [-0.00043129],
       [ 0.03043982],
       [ 0.01779581],
       [ 0.06189988],
       [-0.00366112],
       [ 0.05859521],
       [ 0.12042879],
       [-0.06238964],
       [ 0.06896321],
       [-0.06548402],
       [-0.08294764],
       [ 0.02636824],
       [ 0.07135004],
       [ 0.04233586],
       [-0.0536764 ],
       [ 0.058076  ],
       [ 0.04864781],
       [-0.03642537],
       [ 0.05642433],
       [ 0.01544607],
       [ 0.07817811],
       [ 0.03421578],
       [ 0.03320905],
       [ 0.1234537 ],
       [ 0.10941038],
       [-0.06676967],
       [-0.06379713],
       [ 0.0269998 ],
       [-0.10771958],
       [-0.17731894],
       [-0.11642568],
       [ 0.01804733],
       [ 0.01420425],
       [-0.09104673],
       [ 0.0455321 ],
       [ 0.05866348],
       [ 0.00335469],
       [-0.04953433],
       [-0.09894126],
       [-0.00326196],
       [-0.06930809],
       [ 0.05834541],
       [ 0.04049511],
       [ 0.01967195],
       [-0.02188049],
       [-0.00049531],
       [ 0.03145628],
       [ 0.04271907],
       [ 0.00227221],
       [-0.0193918 ],
       [ 0.02013832],
       [-0.00677695],
       [ 0.02748966],
       [ 0.04794483],
       [ 0.03419802],
       [ 0.04412209],
       [-0.03711638],
       [-0.00311619],
       [-0.06186689],
       [-0.00735962],
       [ 0.02559849],
       [-0.010595  ],
       [ 0.04557162],
       [-0.01231626],
       [ 0.05306797],
       [-0.01458848],
       [-0.00018593],
       [-0.01498514],
       [ 0.06216461],
       [-0.0054443 ],
       [ 0.07627297],
       [-0.03880492],
       [-0.02558341],
       [-0.00518323],
       [-0.05195732],
       [ 0.03749976],
       [ 0.06168136],
       [ 0.04120011]])

In [22]:
xData=np.hstack((dummy, nasdaqData["Returns"].values.reshape(len(nasdaqData["Returns"]),-1)))[:-1]

In [23]:
yData=googData["Returns"][:-1].values.reshape(-1,1)

In [24]:
model=sm.OLS(yData,xData)
results=model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.427
Model:                            OLS   Adj. R-squared:                  0.376
Method:                 Least Squares   F-statistic:                     8.337
Date:                Thu, 06 Jul 2017   Prob (F-statistic):           1.31e-11
Time:                        18:29:55   Log-Likelihood:                 179.21
No. Observations:                 147   AIC:                            -332.4
Df Residuals:                     134   BIC:                            -293.5
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.0108      0.022      0.497      0.620      -0.032       0.054
x2            -0.0340      0.022     -1.573      0.118      -0.077       0.009
x3            -0.0210      0.022     -0.963      0.337      -0.064       0.022
x4             0.0199      0.022      0.916      0.361      -0.023       0.063
x5             0.0181      0.022      0.838      0.403      -0.025       0.061
x6             0.0091      0.022      0.419      0.676      -0.034       0.052
x7             0.0163      0.022      0.744      0.458      -0.027       0.060
x8            -0.0087      0.022     -0.403      0.688      -0.051       0.034
x9             0.0284      0.022      1.313      0.192      -0.014       0.071
x10            0.1084      0.021      5.198      0.000       0.067       0.150
x11           -0.0164      0.021     -0.786      0.433      -0.057       0.025
x12            0.0146      0.021      0.700      0.485      -0.027       0.056
x13            1.0260      0.131      7.848      0.000       0.767       1.285
==============================================================================
Omnibus:                       35.871   Durbin-Watson:                   1.838
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               94.681
Skew:                           0.956   Prob(JB):                     2.76e-21
Kurtosis:                       6.435   Cond. No.                         6.30
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.